<VirtualHost *:80>
        ServerName enon.test
        ServerAlias www.enon.test
        ServerAdmin webmaster@localhost
        DocumentRoot /home/wagesve/Dev/Sites/enon/public

        <Directory "/home/wagesve/Dev/Sites/enon/public">
                AllowOverride All
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
