<?php
/**=========================================================================
 * Local configuration file.
 **=========================================================================*/

/** Define what the environment is */
define( 'WP_ENV', 'development' );

/** The name of the database for WordPress */
define( 'DB_NAME', '{{DB_NAME_HERE}}' );

/** MySQL database username */
define( 'DB_USER', 'wp' );

/** MySQL database password */
define( 'DB_PASSWORD', 'wp' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Custom home URL */
define( 'WP_HOME', 'https://{{DOMAIN_HERE}}' );
