# Application
*.log
public/app/debug.log
public/app/mu-plugins/*/
public/app/plugins/*
public/app/themes/*
public/app/upgrade
public/app/advanced-cache.php
public/app/wp-rocket-config/*
public/app/cache/*
public/app/uploads/*
public/app/nfwlog/*

# Ignore Exceptions
!public/app/languages
!public/app/mu-plugins/energieausweis-*/
!public/app/mu-plugins/energieausweis-*.php
!public/app/plugins/advanced-custom-fields-pro
!public/app/plugins/affiliate-wp
!public/app/plugins/affiliate-wp-lifetime-commissions
!public/app/plugins/cf7-mailchimp-integration
!public/app/plugins/enon
!public/app/plugins/enon-reseller
!public/app/plugins/edd-custom-fees
!public/app/plugins/edd-discount-code-generator
!public/app/plugins/edd-klicktipp-integration
!public/app/plugins/optimizePressPlugin
!public/app/plugins/optimizePressPlusPack
!public/app/plugins/options-definitely
!public/app/plugins/wp-energieausweis-online
!public/app/plugins/wp-postratings-migrate
!public/app/plugins/wp-rocket
!public/app/themes/immoticket-energieausweis

# WordPress
public/core

# Custom Config
public/local-config.php

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.tmpl
!.env.example

# IDE
.idea

# VVV
vvv-nginx.conf
log/*

# Vendor (e.g. Composer)
vendor
!public/app/plugins/wp-rocket/vendor
!public/app/plugins/optimizePressPlugin/lib/vendor

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# IDEs
*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

# OSes
[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

# Logs
public/dibt.log

#DB
provision/db.sql
