# Application
*.log
.user.ini
public/app/languages/*
public/app/languages/plugins/*
public/app/debug.log
public/app/mu-plugins/*/
public/app/mu-plugins/0-ninjafirewall.php
public/app/plugins/*
public/app/upgrade
public/app/advanced-cache.php
public/app/wp-rocket-config/*
public/app/cache/*
public/app/uploads/*
public/app/nfwlog/*
public/app/shield/*

# Local configuration
assets/mysql/*

# Local Cache
public/app/nfwlog/*

# Ignore Exception
!public/app/mu-plugins/energieausweis-*/
!public/app/mu-plugins/energieausweis-*.php
!public/app/plugins/acf-code-field
!public/app/plugins/advanced-custom-fields-pro
!public/app/plugins/affiliate-wp
!public/app/plugins/affiliate-wp-lifetime-commissions
!public/app/plugins/cf7-mailchimp-integration
!public/app/plugins/edd-custom-fees
!public/app/plugins/edd-discount-code-generator
!public/app/plugins/edd-klicktipp-integration
!public/app/plugins/edd-stripe
!public/app/plugins/edd-stripe/vendor
!public/app/plugins/enon
!public/app/plugins/enon-reseller
!public/app/plugins/gravityforms
!public/app/plugins/immo-rating
!public/app/plugins/optimizePressPlusPack
!public/app/plugins/options-definitely
!public/app/plugins/real-category-library
!public/app/plugins/wp-mail-smtp-pro

!public/app/plugins/wp-energieausweis-online
!public/app/plugins/wp-postratings-migrate
!public/app/plugins/wp-rocket
public/app/plugins/wp-rocket/licence-data.php
!public/app/plugins/wpenon_image_cleanup
!public/app/themes/immoticket-energieausweis

# WordPress
public/core

# Custom Config
public/local-config.php

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.tmpl
!.env.example

# IDE
.idea

# VVV
vvv-nginx.conf
log/*

# Vendor (e.g. Composer)
composer.lock
vendor
!public/app/plugins/wp-rocket/vendor
public/app/plugins/wp-rocket/licence-data.php
!public/app/plugins/optimizePressPlugin/lib/vendor
!public/app/plugins/edd-stripe/vendor
!public/app/plugins/edd-payment-gateway-stripe-sepa/vendor
!public/app/plugins/real-category-library/vendor
!public/app/plugins/options-definitely/vendor
!public/app/plugins/gravityformscli
!public/app/plugins/wp-mail-smtp-pro/vendor
#!public/app/wpenon/enev*/vendor

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# IDEs
*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

# OSes
[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

# Logs
public/dibt.log

#DB
provision/db.sql

# htaccess
public/.htaccess
