<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px"}}},"gradient":"yellow-neon-to-green-mint","className":"is-style-group-main"} -->
<div class="wp-block-group is-style-group-main has-yellow-neon-to-green-mint-gradient-background has-background"
    style="padding-top:0px">
    <!-- wp:post-date /-->

    <!-- wp:post-featured-image /-->

    <!-- wp:post-title /-->

    <!-- wp:post-content /-->

    <!-- wp:buttons -->
    <div class="wp-block-buttons">
        <!-- wp:button {"className":"is-style-button-white"} -->
        <div class="wp-block-button is-style-button-white"><a href="/blog" class="wp-block-button__link">Zurück zur Übersicht</a>
        </div>
        <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->