<div class="brlbs-cmpnt-container" id="BorlabsCookie" lang="{{ language }}">
    <div class="bc-full bc-mt-6 bc-mr-6 bc-px-2">
        <!-- HEAD -->
        <div
            class="bc-flex bc-items-stretch bc-rounded-t-md bc-bg-white bc-bg-gradient-to-r bc-px-6 bc-py-6 bc-mt-4 bc-from-[#6a11cb] bc-to-[#2575fc]">
            <img class="bc-w-[256px] bc-min-h-[100px]" src="{{ imageUrl('borlabs-cookie.svg') }}" alt="">
            <span class="bc-pl-2 bc-pt-6 bc-text-amber-300 bc-font-bold">
                <span class="bc-block bc-p-1 bc-border-4 bc-border-solid bc-border-amber-300">BETA</span>
            </span>
        </div><!-- HEAD END -->
