.label-white {
    display: inline-block;

    background-color: white;
    color: $green-lime;

    border-radius: 1.3rem;
    padding: 1rem;
}

.label-green {
    display: inline-block;

    background-color: #82a319;
    border-radius: 1.3rem;
    padding: 1rem;

    color: white;
    font-size: 26px;
}